<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newo.newoapp.narline"
    android:versionCode="7"
    android:versionName="Narline Alpha 1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <!--
        The OpenGL ES version required by the application.

        NOTE: The following tag hides this application in Google Play from
        devices that do not support OpenGL ES 2.0.    -->


    <uses-feature android:glEsVersion="0x00020000" />

    <!--
         The application requires a camera.

         NOTE: Any application that requests the CAMERA permission but does not
         declare any camera features with the <uses-feature> element will be
         assumed to use all camera features (auto-focus and flash). Thus, the
         application will not be compatible with devices that do not support
         all camera features. Please use <uses-feature> to declare only the
         camera features that your application does need. For instance, if you
         request the CAMERA permission, but you do not need auto-focus or
         flash, then declare only the android.hardware.camera feature. The
         other camera features that you do not request will no longer be
         assumed as required.
    -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Google Cloud Messaging -->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.newo.newoapp.gsm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.newo.newoapp.gsm.permission.C2D_MESSAGE" />

    <!-- Add this permission to allow opening network sockets. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" >
    </uses-feature>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" >
    </uses-feature>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" >
    </uses-feature>

    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <!--
        Add this permission to check which network access properties (e.g.
        active type: 3G/WiFi).
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
      NOTE 1: The setting 'android:launchMode="singleTask"' makes sure
      that the activity can begin only one task and the device can hold only
      one instance of the activity at a time. However, it allows other
      activities to be part of its task (unlike the 'singleInstance' mode).
      It's at the root of the activity stack, but other activities (necessarily
      "standard" and "singleTop" activities) can be launched into the same task.
      If this attribute is not set, the default value 'standard' is used, which
      would allow the activity to be launched multiple times.

      NOTE 2: The setting
      'android:theme="@android:style/Theme.NoTitleBar.Fullscreen"' ensures
      that the application starts in full screen mode without a title bar.
    -->

    <application
        android:name="com.newo.newoapp.NeWoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.newo.newoapp.activities.DescriptionViewPagerActivity"
            android:label="@string/app_name"
            android:theme="@style/NeWoThemeKitKat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.CardFlipActivity"
            android:label="@string/title_activity_card_flip"
            android:screenOrientation="portrait"
            android:theme="@style/AppScannerThemeWhiteProgress" />

        <!-- This is the activity that holds the full screen media player. -->
        <activity
            android:name="com.newo.newoapp.recognition.templates.videoplayback.FullscreenPlayback"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppScannerThemeWhiteProgress" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.ProductTourActivity"
            android:label="@string/title_activity_product_tour"
            android:screenOrientation="portrait"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.FillUserInfoActivity"
            android:label="@string/title_activity_fill_user_info"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.ChangePasswordActivity"
            android:label="@string/title_activity_edit_password"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.ILoveNeWoActivity"
            android:label="@string/title_activity_ilove_ne_wo"
            android:screenOrientation="portrait"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppScannerTheme">
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.ScanActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.newo.newoapp.activities.AboutCompetitonActivity"
            android:label="@string/title_activity_about_competiton"
            android:theme="@style/AppScannerTheme" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.newo.newoapp.gsm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.newo.newoapp.gsm" />
            </intent-filter>
        </receiver>

        <service android:name="com.newo.newoapp.gsm.GcmMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>